.footer {
    border-top: 1px solid #444;
    font-size: 0.95rem;
    padding: 0.5rem 0;
    margin-top: auto;
    background: #212529;
}
.footer a {
    color: #17a2b8;
    text-decoration: underline;
}
.footer a:hover {
    color: #0dcaf0;
    text-decoration: none;
}